:root {
	--primary-font: 'Source Sans Pro', sans-serif;
	--secondary-font: 'Playfair Display', serif;
	--color: #fd665e;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	font-family: var(--primary-font);
	font-weight: 400;
}

html {
	font-size: 62.5%;
}

.nav {
	display: flex;
	align-items: center;
	height: 8rem;
	padding: 2rem 3.4rem;
	width: 100%;
}

.nav-logo {
	margin-right: 5rem;
}

.nav-list,
.footer-nav-list {
	display: flex;
	list-style: none;
	justify-content: space-evenly;
	align-items: center;
	margin-right: auto;
	font-size: 1.4rem;
	width: 50%;
}

.nav-item {
	cursor: pointer;
	transition: color 0.3s ease-in-out;
}

.nav-item:hover {
	color: var(--color);
}

.nav-buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 15%;
}

.btn {
	outline: none;
	border: none;
	background-color: transparent;
	text-transform: capitalize;
	font-size: 1.4rem;
	font-family: inherit;
	cursor: pointer;
}

.btn svg {
	height: 2.4rem;
	width: 2.4rem;
	padding: 5px;
	border-radius: 3px;
	transition: all 0.6s ease-in-out;
}

.btn-red {
	background-color: var(--color);
	color: #fff;
	padding: 1rem 2.4rem;
	border-radius: 4px;
}

.svg-arrow path {
	transition: fill 0.6s ease-in-out;
}

.btn-icon:hover > .svg-arrow path,
.btn-icon:focus > .svg-arrow path {
	fill: var(--color);
}

.btn-icon:hover > .svg-arrow {
	background-color: rgba(0, 0, 0, 0.03);
}

/* ****************************** */
/* HEADER STYLES */
/* ****************************** */

.header {
	padding: 2rem 16rem;
}

.heading-1 {
	width: 75%;
	font-size: 12rem;
	line-height: 12rem;
	font-family: var(--secondary-font);
	text-transform: capitalize;
}

.heading-1 span {
	color: var(--color);
}

.paragraph {
	font-size: 1.4rem;
	margin-bottom: 3rem;
}

.cover-text {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	height: 100%;
	width: 100%;
	background-color: #fff;
}

.header__content {
	display: flex;
	flex-direction: row;
	margin-top: 5rem;
	position: relative;
}

.header__content-text {
	margin-right: 2rem;
	padding-top: 1rem;
	position: relative;
}

/* .header__content-image {
	width: 76.5rem;
	height: 48rem;
} */

/* ****************************** */
/* SECTION DISPLAY */
/* ****************************** */

.display-section {
	margin-top: 10rem;
}

.display-section-text {
	display: flex;
	justify-content: space-around;
	padding: 1rem 16rem;
}

.display-section-text h2 {
	margin: 0 auto;
}

.heading-2 {
	font-family: var(--secondary-font);
	font-size: 4.8rem;
	width: 50%;
	line-height: 6rem;
}

.slider-controls {
	align-self: flex-end;
}

.slider-controls button {
	padding: 0 2.4rem;
}

.slider {
	margin-top: 4rem;
	overflow: hidden;
	display: flex;
	padding: 1rem 0 1rem 16rem;
}

.slider-image {
	margin-right: 4rem;
}

/* ****************************** */
/* SECTION FEATURES */
/* ****************************** */

.features-section {
	margin-top: 10rem;
	padding: 1rem 16rem;
}

.features-section h2 {
	width: 40%;
}

.features__content {
	display: flex;
	margin-top: 4rem;
}

.features__container {
	margin-left: 15rem;
	align-self: center;
	display: flex;
	flex-direction: column;
}

.features__container button {
	align-self: center;
}

.features-box {
	display: flex;
	margin-bottom: 4.8rem;
}

.features-text {
	margin-left: 4rem;
}

.heading-4 {
	margin-bottom: 0.8rem;
	font-size: 1.4rem;
	color: var(--color);
}

/* ****************************** */
/* SECTION TESTIMONIAL */
/* ****************************** */

.testimonial-section {
	margin-top: 10rem;
	padding: 1rem 16rem;
}

.testimonial-section h2 {
	width: 40%;
}

.testimonial-box {
	margin-top: 4rem;
}

.testimonial-text {
	font-size: 2.8rem;
	width: 62.5%;
	margin: 0 auto 3rem;
	position: relative;
}

.heading-6 {
	font-size: 1.2rem;
}

.heading-6 span {
	color: var(--color);
}

.testimonial-slider {
	display: flex;
	justify-content: space-between;
	width: 62.5%;
	margin: 0 auto;
}

.testimonial-slider .slider-controls {
	justify-self: flex-end;
}

/* ****************************** */
/* SECTION CTA */
/* ****************************** */

.cta {
	margin-top: 10rem;
	padding: 1rem 16rem;
	display: flex;
	align-items: center;
}

.cta h2 {
	width: 90%;
	margin-bottom: 5rem;
}

.cta h2 span {
	color: var(--color);
}

.cta-text {
	margin-left: 6rem;
}

/* ****************************** */
/* SECTION PARTNERS */
/* ****************************** */

.partners {
	margin-top: 10rem;
	padding: 1rem 16rem;
}

.logo-container {
	margin-top: 1.6rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* ****************************** */
/* FOOTER */
/* ****************************** */

.footer {
	margin: 10rem 0 4rem;
	padding: 1rem 16rem;
	display: flex;
	align-items: center;
}

/* ****************************** */
/* FOOTER NAV LIST STYLES IS SAME WITH NAV LIST*/
/* ****************************** */

.attribution-text {
	font-size: 1.6rem;
	text-align: center;
	margin-bottom: 2rem;
}

.attribution-link {
	text-decoration: none;
	color: var(--color);
	font-weight: bold;
}

/* ***************************** */
/* MEDIA QUERIES */
/* ************************ */
@media only screen and (min-width: 1500px) {
	html {
		font-size: 68%;
	}
}

@media only screen and (max-width: 84.375em) {
	html {
		font-size: 60%;
	}
}

@media only screen and (max-width: 75em) {
	.heading-1 {
		width: 80%;
		font-size: 10rem;
		line-height: 10rem;
	}

	.features-section,
	.display-section-text,
	.slider,
	.header,
	.testimonial-section,
	.cta,
	.partners,
	.footer {
		padding: 1rem 10rem;
	}

	.heading-2,
	.features-section h2 {
		width: 70%;
		font-size: 4.3rem;
		line-height: 4.3rem;
	}

	.features__content-image {
		width: 45%;
		object-fit: cover;
	}

	.header__content-image {
		width: 60%;
	}

	.header__content-text {
		width: 100%;
	}

	.nav-list {
		width: 40%;
	}

	.nav-buttons {
		width: 25%;
	}

	.features__container {
		margin-left: 8rem;
	}

	.cta h2 {
		width: 100%;
	}

	.cta-image {
		width: 45%;
		object-fit: cover;
	}

	.cta-text {
		margin-left: 2.5rem;
	}

	.partners-logo {
		width: 60%;
	}
}

@media only screen and (max-width: 56.25em) {
	html {
		font-size: 56%;
	}

	.heading-1 {
		width: 80%;
		font-size: 8rem;
		line-height: 8rem;
	}

	.features-section,
	.display-section-text,
	.slider,
	.header,
	.testimonial-section,
	.cta,
	.partners,
	.footer {
		padding: 1rem 8rem;
	}

	.slider-image {
		margin-right: 3rem;
	}

	.features-box {
		margin-bottom: 3rem;
	}

	.testimonial-section h2 {
		width: 50%;
	}

	.testimonial-text {
		font-size: 2.4rem;
	}

	.logo-container {
		flex-wrap: wrap;
	}

	.partners-logo {
		width: 40%;
	}
}

@media only screen and (max-width: 37.5em) {
	html {
		font-size: 50%;
	}

	.nav-list,
	.nav-buttons {
		display: none;
	}

	.features-section,
	.display-section-text,
	.slider,
	.header,
	.testimonial-section,
	.cta,
	.partners,
	.footer {
		padding: 1rem 5rem;
	}

	.heading-1 {
		width: 90%;
		font-size: 4.8rem;
		line-height: 4.8rem;
	}

	.header__content {
		flex-direction: column-reverse;
		margin-top: 3rem;
	}

	.header__content-image {
		width: 90%;
		height: 100%;
		transform: translateX(10%);
	}

	.header__content-text {
		background-color: rgba(255, 255, 255, 0.932);
		width: 70%;
		transform: translateY(-30%);
		z-index: 3;
	}

	.paragraph {
		font-size: 1.2rem;
	}

	.heading-2,
	.features-section h2 {
		width: 60%;
		font-size: 2.4rem;
		line-height: 3rem;
	}

	.display-section-text {
		justify-content: space-between;
	}

	.slider-image {
		width: 90%;
		object-fit: cover;
	}

	.features__content {
		flex-direction: column;
		justify-content: center;
	}

	.features__content-image {
		width: 100%;
	}

	.features__container {
		margin-left: 0;
		margin-top: 2rem;
	}

	.features-text {
		margin-left: 2rem;
	}

	.testimonial-section h2 {
		width: 60%;
	}

	.testimonial-text {
		margin: 0 auto 1rem;
		font-size: 1.8rem;
		width: 80%;
	}

	.testimonial-slider {
		width: 80%;
	}

	.footer {
		flex-direction: column-reverse;
		justify-content: center;
		margin: 0;
		padding: 0;
	}

	.footer-nav-list {
		/* flex-wrap: wrap; */
		flex-direction: column;
		margin-right: 0;
		margin-top: 3rem;
		background-color: rgb(80, 80, 80);
		width: 100%;
	}

	.footer-nav-list li {
		font-size: 1.4rem;
		padding: 1rem;
		color: #fff;
	}

	.attribution-text {
		background-color: var(--color);
		padding: 1rem;
	}

	.attribution-link {
		color: #fff;
		text-decoration: wavy;
	}
}
